<br>
<br>
<br>

<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<h1>INFO</h1>
		<br>
		<h3>Intentos restantes: <%= @@ahogado.get_intentos %></h3>
		<br>

		<%= @@ahogado.mostrar_mensaje%>
		<br><br><br>
		<% if @acabo %>
			<a class="btn btn-success btn-lg" href="/">Ir a Pagina Principal</a>
		<%end%>

	</div>

	<div class="col-md-7">
		<center>
			<img src="/images/jar.png">
		</center>
		<br>
		<br>
		<br>
	</div>

	<div class="col-md-6" id="letras-disponibles" style="margin-bottom: 20px;">
		<% unless @acabo %>
		  <% @@abecedario.each_with_index do |letra, index| %>
			  <% unless letra[1] %>
				  <a href="/<%= letra[0] %>" id="<%= letra[0].to_s %>" style="height: 48px; width: 48px;" class="btn btn-lg btn-info"> <%= letra[0] %></a>
			  <% end %>
			  <% if (index + 1)%6 == 0 %>
			  	<br><br>
			  <% end %>
		  <% end %>
		<%end%>
	</div>



  	<div class="col-md-6" id="piscina-del-olvido">
	  <h3 style="display: inline">Piscina del olvido</h3><sup>(Letras ya utilizadas)</sup><h3 style="display: inline">:</h3>
	  <br><br>
	  <% unless @acabo %>
		  <% @@abecedario.each_with_index do |letra, index| %>
			  <% if letra[1] %>
				  <a href="/<%= letra[0] %>" id="<%= letra[0].to_s + 'Olvidada' %>" style="height: 48px; width: 48px;" class="btn btn-lg btn-info disabled disabled-cursor"> <%= letra[0] %></a>
			  <% end %>

			  <% if (index + 1)%6 == 0 %>
				  <br><br>
			  <% end %>
		  <% end %>
	  <%end%>
	</div>

	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class=' jumbotron text-center'>
		<h1 id="palabra"><%= @@ahogado.mostrar_en_vista%></h1>
		<br>
	</div>
</div>
