<br>
<br>
<br>

<div class="row">
	<div class="col-md-1"></div>

	<div class="col-md-5">
		<h1>INFO</h1>
		<br>
		<h3>Intentos restantes: <%= @@ahogado.get_intentos %></h3>
		<br>

		<%= @@ahogado.mostrar_mensaje%>
		<br><br><br>
		<% if @acabo %>
			<a class="btn btn-success btn-lg" href="/">Ir a Pagina Principal</a>
		<%end%>

	</div>

	<div class="col-md-7">
		<center>
			<img src="/images/jar.png">
		</center>
		<br>
		<br>
		<br>
	</div>

	<div class="col-md-6">

	<% unless @acabo %>
	  <% @@abecedario.each do |letra| %>
		  <% style = 'btn btn-lg btn-default'; if letra[1] then style += ' disabled disabled-cursor' end %>
		  <a href="<%= letra[0] %>" style="height: 48px; width: 48px;" class="<%= style %>"> <%= letra[0] %></a>
	  <% end %>
	<%end%>

	</div>

	<div class="col-md-1"></div>
</div>

<div class="row">
	<div class=' jumbotron text-center'>
		<h1><%= @@ahogado.mostrar_en_vista%></h1>
		<br>
	</div>
</div>
